<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="UTF-8">
  <title>Password Reset WellWay</title>
  <link rel="stylesheet" href="/static/prudgect/css/prost1.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head> 
<body>
<div class="form_auth_block">
    <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Сброс пароля</p>

    <form class="form_auth_style" action="#" method="post">
      <labe>Введите Ваш Е-mail</labe>
        
      <div class="input_login_block">
        <input type="email" name="auth_email" placeholder="E-mail" required >
      </div>


    
      <div class="remember-me--forget-password">
        
      <button class="form_auth_button" type="submit" name="form_auth_submit"><b>Сбросить пароль</b></button>
        
      
        
      <p><a href="prost.html" style="font-weight: bold;" style="color: #737373;">Я вспомнил свой пароль</a></p>
    
      </div>
        
    
        
    </form>
    </div>
</div>
</body>
</html>