{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>От Пушкина до революции</title>
  <link rel="stylesheet" href="/static/vendor/css/R3_css/Route3_head.css">
  <link rel="stylesheet" href="/static/vendor/css/R3_css/Route3_difficult.css">
  <link rel="stylesheet" href="/static/vendor/css/R3_css/Route3_sections.css">
  <link rel="stylesheet" href="/static/vendor/css/R3_css/Route3_feedback.css">
  <link rel="stylesheet" href="/static/vendor/css/R3_css/Route3_down.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <sectioen class="hero">


      <h1>От Пушкина до<br> революции</h1>


    </section>



  </main>
  <div class="difficulty-rating">
    <p>Сложность</p>
    <div class="stars">
        ★★★☆☆
    </div>
</div>
    <section class="sections" id="sections">

     <section class="section-1">
       <div class="image-container">
         <img src="/static/vendor/svg/svg_R3/polukrug1.svg" alt="Bicycle">
       </div>
       <section class="content1">
         <h2>01</h2>

         <p>Парк Горького - Центральный парк им. М. Горького является старейшим парком города, основанным в 1813 году, а в 1936 году получивший имя писателя. Главная особенность парка - разнообразие зеленых насаждений - всего в парке произрастает 2067 деревьев и более 3000 кустарников. </p>
        </section>
     </section>

     <section class="section-2">
       <div class="image-container">
         <img src="/static/vendor/svg/svg_R3/polukrug2.svg" alt="City" class="citySection-2">
       </div>
       <section class="content2">
         <h2>02</h2>
         <p>Ростовский областной музей изобразительных искусств - Открытие музея состоялось в 1938 году. У истоков создания музея стояли многие известные художники, писательница М.А. Шагинян. В январе 1942 г. коллекция была эвакуирована в Пятигорск, где была разграблена немецкими войсками. Вторично музей открылся в июне 1946 года, в отведенных для него комнатах </p>
         </section>
     </section>

     <section class="section-3">
       <div class="image-container">
         <img src="/static/vendor/svg/svg_R3/polukrug3.svg" alt="Landscape">
       </div>
       <section class="content1">
         <h2>03</h2>
         <p>Донская государственная публичная библиотека - Центральная библиотека Ростовской области, старейшее книгохранилище Юга России, является крупнейшей среди Центральных библиотек субъектов Российской Федерации. Библиотека основана 7 января 1886 года. В течение своей истории прошла много трансформаций</p>
         </section>
     </section>

     <section class="section-4">
      <div class="image-container">
        <img src="/static/vendor/svg/svg_R3/polukrug4.svg" alt="Landscape">
      </div>
      <section class="content2">
        <h2>04</h2>
        <p>Театр горького - Датой образования театра принято считать 23 июня 1863 года, когда состоялось первое представление стационарной драматической труппы. Современное здание театра построено в 1935 году, восстановлено после Великой Отечественной войны в 1963 году. Почетное название “Академический” театр получил в 1980 году.</p>
        </section>
    </section>

   </section>

   <div class="feedback">Ваши отзывы</div>

   <div class="review-wrapper">

    <div class="review-section">
      <button class="arrow left" id="prevArrow">←</button>

            {% for review in reviews %}

      <div class="review-container" id="review-0">
          <div class="avatar">
            {% if review.user.image %}
                <img src="{{ review.user.image.url }}" alt="{{ review.user.username }}" class="avatar">
            {% else %}
                <img src="{% static 'img.png' %}" alt="{{ review.user.username }}" class="avatar">
            {% endif %}
          </div>
          <div class="review-content">
              <div class="review-name">{{ review.user.username }}</div>
              <div class="review-stars">
                  {% for i in stars_range %}
                    {% if i <= review.rating %}
                        <span class="empty-star">★</span>
                        <!-- Заполненная звезда -->
                    {% else %}
                        <span class="empty-star">☆</span> <!-- Пустая звезда -->
                  {% endif %}
                  {% endfor %}
              </div>
              <div class="review-text">{{review.comment}}</div>
          </div>
      </div>

            {% endfor %}


      <button class="arrow right" id="nextArrow">→</button>
  </div>

</div>

<div class="down">
  <div class="button-container">
      <a href="{% url 'MainPage' %}" class="button">На главную страницу</a>
      <a href="{% url 'Add_Review' %}" class="button">Оставить отзыв</a>
      <a href="https://yandex.ru/maps/39/rostov-na-donu/?ll=39.722303%2C47.226162&mode=routes&rtext=47.221457%2C39.697184~47.223892%2C39.709577~47.227519%2C39.726670~47.230440%2C39.740532~47.229449%2C39.742768~47.230342%2C39.747503~47.230624%2C39.744564~47.230408%2C39.739637~47.221459%2C39.697184&rtt=sc&ruri=~~~~~~~~&z=15" class="button">Отправиться в путь</a>

  </div>

<script>
  // Текущий индекс отзыва
  let currentReviewIndex = 0;
  const reviews = document.querySelectorAll('.review-container');
  const totalReviews = reviews.length;

  // Элементы кнопок
  const prevArrow = document.getElementById('prevArrow');
  const nextArrow = document.getElementById('nextArrow');

  // Показать отзыв по индексу
  function showReview(index) {
      reviews.forEach((review, i) => {
          review.classList.remove('active');
          if (i === index) {
              review.classList.add('active');
          }
      });
  }

  // Обновляем видимость кнопок в зависимости от текущего индекса
  function updateArrowVisibility() {
      prevArrow.disabled = currentReviewIndex === 0;
      nextArrow.disabled = currentReviewIndex === totalReviews - 1;
  }

  // Инициализация первого отзыва и стрелок
  showReview(currentReviewIndex);
  updateArrowVisibility();

  // Слушатели событий для стрелок
  prevArrow.addEventListener('click', () => {
      if (currentReviewIndex > 0) {
          currentReviewIndex--;
          showReview(currentReviewIndex);
          updateArrowVisibility();
      }
  });

  nextArrow.addEventListener('click', () => {
      if (currentReviewIndex < totalReviews - 1) {
          currentReviewIndex++;
          showReview(currentReviewIndex);
          updateArrowVisibility();
      }
  });
</script>
</body>
</html>
