{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Гребной канал</title>
  <link rel="stylesheet" href="/static/vendor/css/R4_css/Route4_head.css">
  <link rel="stylesheet" href="/static/vendor/css/R4_css/Route4_difficult.css">
  <link rel="stylesheet" href="/static/vendor/css/R4_css/Route4_sections.css">
  <link rel="stylesheet" href="/static/vendor/css/R4_css/Route4_feedback.css">
  <link rel="stylesheet" href="/static/vendor/css/R4_css/Route4_down.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
  <main>
    <sectioen class="hero">


      <h1>Гребной канал</h1>


    </section>



  </main>
  <div class="difficulty-rating">
    <p>Сложность</p>
    <div class="stars">
        ★★★★☆
    </div>
</div>
    <section class="sections" id="sections">

     <section class="section-1">
       <div class="image-container">
         <img src="/static/vendor/svg/svg_R4/полукруг1.svg" alt="Bicycle">
       </div>
       <section class="content1">
         <h2>01</h2>

         <p>Гребной канал: Гребной канал в Ростове-на-Дону был открыт в 1968 году и в начале своего существования представлял собой лишь водоём и деревянные ангары, где хранились байдарки и каноэ. С 2016 года по декабрь 2017 года велась масштабная реконструкция гребного канала. Сегодня это крупнейшее спортивное сооружение на юге России, представляющее собой многофункциональный комплекс.  </p>
        </section>
     </section>

     <section class="section-2">
       <div class="image-container">
         <img src="/static/vendor/svg/svg_R4/полукруг2.svg" alt="City" class="citySection-2">
       </div>
       <section class="content2">
         <h2>02</h2>
         <p>Тачанка-ростовчанка: Открытый в честь 60-летия Октябрьской Революции в 1977 году, монумент посвящен Первой Конной Армии Буденного, которая в 1920 году вела бои с армией генерала Деникина. Высота памятника - 15 метров, длина - 33 метра, а масса копыт без опор составляет несколько тонн. "Тачанка" является одним из крупнейших памятников Ростовской области.</p>
         </section>
     </section>

     <section class="section-3">
       <div class="image-container">
         <img src="/static/vendor/svg/svg_R4/полукруг3.svg" alt="Landscape">
       </div>
       <section class="content1">
         <h2>03</h2>
         <p>Акватория - водноспортивный кластер. Является тренировойчной базой для спортсмеов-паралимпийцев. Комплекс был включен в реализацию положений "дорожной карты" по подготовке региона к проведению ЧМ по футболу в 2018 году. В этом месте вы можете насладиться закатом, открывается вид на Ростов Арену и правый берег. </p>
         </section>
     </section>

     <section class="section-4">
      <div class="image-container">
        <img src="/static/vendor/svg/svg_R4/полукруг4.svg" alt="Landscape">
      </div>
      <section class="content2">
        <h2>04</h2>
        <p>Парк Левобережный - одно из самых любимых мест жителей города. Откртыие парка было приурочено к ЧМ по футболу в 2018 году. Ухоженные зеленые насаждения, которые создают приятную тень летом, широкие прогулочные зоны, современные детские площадки, спортивные участки: все это делает парк прекрасным местом отдыха.  </p>
        </section>
    </section>

   </section>

   <div class="feedback">Ваши отзывы</div>

   <div class="review-wrapper">

    <div class="review-section">
      <button class="arrow left" id="prevArrow">←</button>

            {% for review in reviews %}

      <div class="review-container" id="review-0">
          <div class="avatar">
            {% if review.user.image %}
                <img src="{{ review.user.image.url }}" alt="{{ review.user.username }}" class="avatar">
            {% else %}
                <img src="{% static 'img.png' %}" alt="{{ review.user.username }}" class="avatar">
            {% endif %}
          </div>
          <div class="review-content">
              <div class="review-name">{{ review.user.username }}</div>
              <div class="review-stars">
                  {% for i in stars_range %}
                    {% if i <= review.rating %}
                        <span class="empty-star">★</span>
                        <!-- Заполненная звезда -->
                    {% else %}
                        <span class="empty-star">☆</span> <!-- Пустая звезда -->
                  {% endif %}
                  {% endfor %}
              </div>
              <div class="review-text">{{review.comment}}</div>
          </div>
      </div>

            {% endfor %}


      <button class="arrow right" id="nextArrow">→</button>
  </div>

</div>

<div class="down">
  <div class="button-container">
      <a href="{% url 'MainPage' %}" class="button">На главную страницу</a>
      <a href="{% url 'Add_Review' %}" class="button">Оставить отзыв</a>
      <a href="https://yandex.ru/maps/39/rostov-na-donu/?ll=39.736407%2C47.197512&mode=routes&rtext=47.212007%2C39.726179~47.208804%2C39.732886~47.204129%2C39.734505~47.190752%2C39.740021~47.186407%2C39.738744~47.201958%2C39.730773~47.208493%2C39.733232~47.212869%2C39.736262~47.212059%2C39.726358&rtt=bc&ruri=~~~~~~~~&z=14" class="button">Отправиться в путь</a>

  </div>

<script>
  // Текущий индекс отзыва
  let currentReviewIndex = 0;
  const reviews = document.querySelectorAll('.review-container');
  const totalReviews = reviews.length;

  // Элементы кнопок
  const prevArrow = document.getElementById('prevArrow');
  const nextArrow = document.getElementById('nextArrow');

  // Показать отзыв по индексу
  function showReview(index) {
      reviews.forEach((review, i) => {
          review.classList.remove('active');
          if (i === index) {
              review.classList.add('active');
          }
      });
  }

  // Обновляем видимость кнопок в зависимости от текущего индекса
  function updateArrowVisibility() {
      prevArrow.disabled = currentReviewIndex === 0;
      nextArrow.disabled = currentReviewIndex === totalReviews - 1;
  }

  // Инициализация первого отзыва и стрелок
  showReview(currentReviewIndex);
  updateArrowVisibility();

  // Слушатели событий для стрелок
  prevArrow.addEventListener('click', () => {
      if (currentReviewIndex > 0) {
          currentReviewIndex--;
          showReview(currentReviewIndex);
          updateArrowVisibility();
      }
  });

  nextArrow.addEventListener('click', () => {
      if (currentReviewIndex < totalReviews - 1) {
          currentReviewIndex++;
          showReview(currentReviewIndex);
          updateArrowVisibility();
      }
  });
</script>
</body>
</html>
